@import '../../styles/global.css';

.for-whom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    font-family: "Bree Serif", serif;
    gap: 20px;
}
