@import '../../styles/global.css';

body {
  margin: 0;
}


.logo {
  width: 20%;
}

.header {
  width: 100%;
  padding: 10px 32px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid #d2caca;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header-words{
  display: flex;
  gap: 50px;
}

.menu-icon{
    display: none;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.word{
    color: #5170ff;
    font-family: "Bree Serif", serif;
    font-size: larger;
    cursor: pointer;
    text-decoration: none;
}


@media screen and (max-width:1024px) {

 .header{
    height: 60px;
    padding: 10px 0px ;
    width: 100%;
    padding-right: 40px ;
 }


 .logo {
    width: 30%;
}


}


@media screen and (max-width:720px) {

 .header{
    height: 60px;
    padding: 10px 0px ;
    width: 100%;
 }

 .header-words{
    display: none;
}

 .logo {
    width: 50%;
}

 .menu-icon{
    display: flex;
    margin-left: 40px;
}


}


@media screen and (max-width:480px) {

 .header{
    height: 60px;
    padding: 10px 0px ;
 }

 .header-words{
    display: none;
}

 .logo {
    width: 50%;
}

 .menu-icon{
    display: flex;
    margin-left: 40px;
}


}



