@import '../../styles/global.css';

.text-home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 300;

}

.text-home{
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    height: 100vh;
    margin-left: 350px;
    margin-top: 100px;
    font-family: "Bree Serif", serif;
}

.title{
    font-size: 50px;
    font-weight: 700;
    color: #5170ff;

}

.text-simple{
    font-size: 20px;
    color: #d061f2;
    font-weight: lighter;
    font-style: normal;
}


.highlight {
  color: #cb6ce6;
}

.home-image {
  width: 750px;
  height: 750px;
  margin-bottom: 450px;

}