@import '../../styles/global.css';

.contact-section {
  padding: 100px 0;
  background-color: rgba(203, 108, 230, 0.06);
  font-family: "Bree Serif", serif;
}

.contact-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 80px;
  align-items: center;
}


.contact-text {
  flex: 1;
}

.contact-text h2 {
  font-size: 36px;
  color: #5170ff;
  margin-bottom: 16px;
}

.contact-text p {
  font-size: 16px;
  color: #4b5563;
  line-height: 1.6;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid #cb6ce6;
  font-size: 14px;
  outline: none;
}

.contact-form textarea {
  min-height: 120px;
  resize: none;
}

.contact-form button {
  background-color: #cb6ce6;
  color: #ffffff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #5170ff;
}
